name: Deploy Airflow DAGs

on:
  push:
    branches:
      - main  # Trigger on pushes to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Check out the repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 2: Copy DAGs to Raspberry Pi
      - name: Copy DAGs to Raspberry Pi
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.RASPBERRY_PI_HOST }} # Raspberry Pi IP address
          username: pi                          # Raspberry Pi username
          key: ${{ secrets.RASPBERRY_PI_SSH_KEY }} # Private SSH key for authentication
          source: './'                     # Local folder containing DAGs
          target: '/var/lib/docker/volumes/airflow_dags/_data/' # Airflow DAGs folder on Raspberry Pi

      # Step 3: Restart Airflow services on Raspberry Pi
      # - name: Restart Airflow to load new DAGs
      #   uses: appleboy/ssh-action@master
      #   with:
      #     host: ${{ secrets.RASPBERRY_PI_HOST }} # Raspberry Pi IP address
      #     username: pi                           # Raspberry Pi username
      #     key: ${{ secrets.RASPBERRY_PI_SSH_KEY }} # Private SSH key for authentication
      #     script: |
      #       sudo docker restart airflow_scheduler
      #       sudo docker restart airflow_webserver
