name: Deploy Airflow DAGs to Raspberry Pi

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Copy DAGs to Raspberry Pi
        uses: appleboy/scp-action@v0.1.8
        with:
          host: <raspberry-pi-ip>
          username: pi
          key: ${{ secrets.RASPBERRY_PI_SSH_KEY }}
          source: './'
          target: '/var/lib/docker/volumes/airflow_dags/_data/'

      - name: Restart Airflow to pick up new DAGs
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: <raspberry-pi-ip>
          username: pi
          key: ${{ secrets.RASPBERRY_PI_SSH_KEY }}
          script: |
            sudo docker restart airflow_scheduler
            sudo docker restart airflow_webserver
